<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers{% if clickhouse_remote_servers_zookeeper_key is defined %} replace="replace" from_zk="{{ clickhouse_remote_servers_zookeeper_key }}"{% endif %}>
{% for cluster_name, shards in clickhouse_clusters.iteritems() %}
    <{{ cluster_name }}>
{% for shard in shards %}
      <shard>
{% if shard.weight is defined %}
        <weight>{{ shard.weight }}</weight>
{% endif %}
{% if shard.internal_replication is defined %}
        <internal_replication>{{ shard.internal_replication }}</internal_replication>
{% endif %}
{% for replica in shard.servers %}
        <replica>
          <host>{{ replica['host'] }}</host>
          <port>{{ replica['port'] | default(9000) }}</port>
        </replica>
{% endfor %}
      </shard>
{% endfor %}
    </{{ cluster_name }}>
{% endfor %}
  </remote_servers>
</yandex>
